html,body{
  box-sizing: border-box;
height:150%;
width:100%;
 background-color:#fed8b1;
  margin:0;
padding:0;

}
.intro{
  z-index:8;
  background-color:lightcyan;
position:absolute;

  margin:0.5rem;
  padding:0.5rem;
  font-size:1.1rem;
}
.next_step{
  padding:0.5rem;
margin:0.5rem;
}
#relax_timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
position:absolute;
width:90vw; 
  height:40vw;
  padding:10px;
box-sizing:border-box;
  border-radius:50%;
  top:60%;
margin:10px;

}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  transform: scale(1);
top:50%;
  left:50%;
  margin-left:23px;
}

#text{
  color:black;
  text-align:center;
  padding:100px;
  background-color:initial;
z-index:4;

}


.outer{
  height: 230px;
  width: 230px;
  border-radius: 50%;
  border:2px solid white;
  position:absolute;
  background:conic-gradient(
     #89cff0 0%,
    #73c2fb 32%,
    #09e4d2 32%,
 #09efdf 55% ,
    #0080ff 55% ,
    #1034a6 100%)
}
.timer{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:whitesmoke;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  position: absolute;
border:2px solid lightgray;
  z-index:3;

}
.atom-container{
  position:absolute;
top:-40px;
width:10px;
height:145px;
  background-color:initial;
animation: rotate 10s linear forwards infinite;
  transform-origin: bottom center;
  


}
.atom{
  width:15px;
height:15px;
border-radius:50%;
  background-color:lightpink;
display:block;
  
}
.music_container{
  display:flex;
  flex-direction:row;
  width:max-content;
  z-index:7;
  position:absolute;
top:100%;
  left:50%;
  margin-left:-80px;
  
}
.play{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
flex-direction:row;
  flex-wrap:wrap;
  flex:1;
}
.play>i{
  font-size:1.5rem;
}
.music_container>i{
  font-size:1.2rem;
}
.music_container > button{
  border-radius:15%;
  padding:5px;
margin:10px;
background-color:floralwhite;


}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
to {
    transform: rotate(360deg);
  }
}
.container.grow {
  animation: grow 3s linear forwards;
}
@keyframes grow {
  from {
    transform: scale(1);
  }
to {
    transform: scale(1.2);
  }
}
.container.shrink {
  animation: shrink 3s linear forwards;
}
@keyframes shrink {
  from {
    transform: scale(1.2);
  }
to {
    transform: scale(1);
  }
}
.write{
height:max-content;
  width:100vw;
  position:absolute;
 
  top:120%;
  bottom:0;
  border:3px solid lightcoral;
box-shadow:2px 2px 4px 4px lavenderblush;

}
.thoughts_area{
  padding:5px;
  box-sizing:border-box;

}

.content_main{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
justify-content:space-evenly;
padding:0;
margin:0;
  gap:2rem;

}
.recorded{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:papayawhip;
  margin:10px;
}
#note_area{
  margin:5px;
padding:5px;
background-color:lightyellow;


}
h1{
  text-align:center;
border-bottom:1px solid gray;
padding:0.5rem;
margin:0.5rem;

}
h3{
  text-align:center;
}

.btn{
  width:50px;
height:20px;

}
#message{
  color:blue;
}

@media only screen and (max-width: 768px) {
  .write{
    flex-direction:row;
  }
  .recorded{
   width:90vw;
    position:relative;
  }
.content_main{
  flex-direction:column;
}

}
@media only screen and (min-width: 768px) {
  html{
    height:100vh;
  }
  #relax_timer{
height:25vh;
  }
.recorded{
  flex-grow:4;
width:50vw;
position:relative;


}

}
